#ar {
  background-color: #232323;
}

body.AR-container {
  margin : 0px; 
  overflow: hidden;
  background-color: none;
}

#splash {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  font-size: 12px;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, .99);
  transition: all 1s ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#splash .loading {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
}

#splash .start-button {
  padding: 10px 30px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity .5s ease;
  cursor: pointer;
  background-color: #292929;
  letter-spacing: 1px;
}

#splash .credits {
  position: absolute;
  left: 2em;
  bottom: 2em;
  
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}

#splash .credits .show-credits {
  opacity: 0;
  transition: opacity .5s ease;
}

#splash .credits ul {
  display: none;
  max-height: 200px;
  list-style: none;
  margin-top: 1em;
  line-height: 1.5;
  padding: 0;
  overflow-y: scroll;
  text-transform: capitalize;
}

#splash .credits a {
  color: #a2a2a2;
  text-decoration: none;
}

#splash .credits a:visited {
  color: #a2a2a2;
}

#splash .credits a:hover, #splash .credits a:visited:hover {
  color: #ccc;
}

#anchor-scene-button {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background-color: rgba(255, 255, 266, 0.8);
  background-image: url('rotate-anchor.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  border-radius: 3px;
  z-index: 1;
}

#rotate-scene-button {
  display: none;
  position: fixed;
  top: 90px;
  right: 20px;
  width: 55px;
  height: 55px;
  background-color: rgba(255, 255, 266, 0.8);
  background-image: url('rotate-y.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  border-radius: 3px;
  z-index: 1;
}
